<div class="wrapper">
  <div class="list">
    <p class="charName" id="charName">abaab</p>
    <p class="charClass" id="charClass"></p>
    <p class="level" id="level"></p>
    <p class="charRace" id="charRace"></p>
    <p class="alignment" id="alignment"></p>
    <p class="background" id="background"></p>
    <p class="playerName" id="playerName"></p>
    <p class="expiriencePoints" id="expiriencePoints"></p>
    <p class="armorClass" id="armorClass"></p>
    <p class="initiative" id="initiative"></p>
    <p class="speed" id="speed"></p>
    <p class="maxHitPoints" id="maxHitPoints"></p>
    <p class="currentHitPoints" id="currentHitPoints"></p>
    <p class="proficiencyBonus" id="proficiencyBonus"></p>
    <p class="passiveWisdom" id="passiveWisdom"></p>
    <p class="strength abilityScores" id="strength">strength</p>
    <p class="strengthModifier modifiers" id="strengthModifier">strength</p>
    <p class="dexterity abilityScores" id="dexterity">dexterity</p>
    <p class="dexterityModifier modifiers" id="dexterityModifier">dexterity</p>
    <p class="constitution abilityScores" id="constitution">contitution</p>
    <p class="constitutionModifier modifiers" id="constitutionModifier">contitution</p>
    <p class="intelligence abilityScores" id="intelligence">intelligence</p>
    <p class="intelligenceModifier modifiers" id="intelligenceModifier">intelligence</p>
    <p class="wisdom abilityScores" id="wisdom">wisdom</p>
    <p class="wisdomModifier modifiers" id="wisdomModifier">wisdom</p>
    <p class="charisma abilityScores" id="charisma">charisma</p>
    <p class="charismaModifier modifiers" id="charismaModifier">charisma</p>
    <p class="checkSkill acrobaticsCheck" id="acrobaticsCheck"></p>
    <p class="skill acrobatics" id="acrobatics"></p>
    <p class="checkSkill investigationCheck" id="investigationCheck"></p>
    <p class="skill investigation" id="investigation"></p>
    <p class="checkSkill athleticsCheck" id="athleticsCheck"></p>
    <p class="skill athletics" id="athletics"></p>
    <p class="checkSkill performanceCheck" id="performanceCheck"></p>
    <p class="skill performance" id="performance"></p>
    <p class="checkSkill survivalCheck" id="survivalCheck"></p>
    <p class="skill survival" id="survival"></p>
    <p class="checkSkill animalHandlingCheck" id="animalHandlingCheck"></p>
    <p class="skill animalHandling" id="animalHandling"></p>
    <p class="checkSkill intimidationCheck" id="intimidationCheck"></p>
    <p class="skill intimidation" id="intimidation"></p>
    <p class="checkSkill insightCheck" id="insightCheck"></p>
    <p class="skill insight" id="insight"></p>
    <p class="checkSkill historyCheck" id="historyCheck"></p>
    <p class="skill history" id="history"></p>
    <p class="checkSkill medicineCheck" id="medicineCheck"></p>
    <p class="skill medicine" id="medicine"></p>
    <p class="checkSkill arcanaCheck" id="arcanaCheck"></p>
    <p class="skill arcana" id="arcana"></p>
    <p class="checkSkill stealthCheck" id="stealthCheck"></p>
    <p class="skill stealth" id="stealth"></p>
    <p class="checkSkill deceptionCheck" id="deceptionCheck"></p>
    <p class="skill deception" id="deception"></p>
    <p class="checkSkill persuasionCheck" id="persuasionCheck"></p>
    <p class="skill persuasion" id="persuasion"></p>
    <p class="checkSkill perceptionCheck" id="perceptionCheck"></p>
    <p class="skill perception" id="perception"></p>
    <p class="checkSkill natureCheck" id="natureCheck"></p>
    <p class="skill nature" id="nature"></p>
    <p class="checkSkill religionCheck" id="religionCheck"></p>
    <p class="skill religion" id="religion"></p>
    <p class="checkSkill sleightOfHandCheck" id="sleightOfHandCheck"></p>
    <p class="skill sleightOfHand" id="sleightOfHand"></p>
  </div>
</div>
