<div class="wrapper">
  <div class="list">
    <p id="charName">abaab</p>
    <p id="charClass"></p>
    <p id="level"></p>
    <p id="charRace"></p>
    <p id="alignment"></p>
    <p id="background"></p>
    <p id="playerName"></p>
    <p id="expiriencePoints"></p>
    <p id="armorClass"></p>
    <p id="initiative"></p>
    <p id="speed"></p>
    <p id="maxHitPoints"></p>
    <p id="currentHitPoints"></p>
    <p id="proficiencyBonus"></p>
    <p id="passiveWisdom"></p>
    <p id="strength" class="abilityScores">strength</p>
    <p id="strengthModifier" class="modifiers">strength</p>
    <p id="dexterity" class="abilityScores">dexterity</p>
    <p id="dexterityModifier" class="modifiers">dexterity</p>
    <p id="constitution" class="abilityScores">contitution</p>
    <p id="constitutionModifier" class="modifiers">contitution</p>
    <p id="intelligence" class="abilityScores">intelligence</p>
    <p id="intelligenceModifier" class="modifiers">intelligence</p>
    <p id="wisdom" class="abilityScores">wisdom</p>
    <p id="wisdomModifier" class="modifiers">wisdom</p>
    <p id="charisma" class="abilityScores">charisma</p>
    <p id="charismaModifier" class="modifiers">charisma</p>
    <p class="checkSkill" id="acrobaticsCheck"></p>
    <p class="skill" id="acrobatics"></p>
    <p class="checkSkill" id="investigationCheck"></p>
    <p class="skill" id="investigation"></p>
    <p class="checkSkill" id="athleticsCheck"></p>
    <p class="skill" id="athletics"></p>
    <p class="checkSkill" id="performanceCheck"></p>
    <p class="skill" id="performance"></p>
    <p class="checkSkill" id="survivalCheck"></p>
    <p class="skill" id="survival"></p>
    <p class="checkSkill" id="animalHandlingCheck"></p>
    <p class="skill" id="animalHandling"></p>
    <p class="checkSkill" id="intimidationCheck"></p>
    <p class="skill" id="intimidation"></p>
    <p class="checkSkill" id="insightCheck"></p>
    <p class="skill" id="insight"></p>
    <p class="checkSkill" id="historyCheck"></p>
    <p class="skill" id="history"></p>
    <p class="checkSkill" id="medicineCheck"></p>
    <p class="skill" id="medicine"></p>
    <p class="checkSkill" id="arcanaCheck"></p>
    <p class="skill" id="arcana"></p>
    <p class="checkSkill" id="stealthCheck"></p>
    <p class="skill" id="stealth"></p>
    <p class="checkSkill" id="deceptionCheck"></p>
    <p class="skill" id="deception"></p>
    <p class="checkSkill" id="persuasionCheck"></p>
    <p class="skill" id="persuasion"></p>
    <p class="checkSkill" id="perceptionCheck"></p>
    <p class="skill" id="perception"></p>
    <p class="checkSkill" id="natureCheck"></p>
    <p class="skill" id="nature"></p>
    <p class="checkSkill" id="religionCheck"></p>
    <p class="skill" id="religion"></p>
    <p class="checkSkill" id="sleightOfHandCheck"></p>
    <p class="skill" id="sleightOfHand"></p>
  </div>
</div>
